@import "../common/mixin.scss";
@import "../common/utils.scss";

@mixin sizeMixin(
	$checkbox-bordered-padding-vertical,
	$checkbox-bordered-padding-horizontal,
	$checkbox-input-width,
	$checkbox-input-height,
	$checkbox-font-size,
	$checkbox-line-height
) {
	&.is-bordered,
	&.is-button {
		padding: $checkbox-bordered-padding-vertical
			calc(#{$checkbox-bordered-padding-horizontal} + 6px) $checkbox-bordered-padding-vertical
			$checkbox-bordered-padding-horizontal;

		@include e(inner) {
			width: $checkbox-input-width;
			height: $checkbox-input-height;
		}

		@include e(label) {
			font-size: $checkbox-font-size;
			line-height: $checkbox-line-height;
		}
	}
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	border-radius: $border-radius;
	&.is-round {
		padding: $padding-vertical $padding-horizontal;
	}
}

@include b(checkbox) {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	color: $--checkbox-font-color;
	font-weight: $--checkbox-font-weight;
	font-size: $--font-size-base;
	white-space: nowrap;
	outline: none;
	cursor: pointer;
	margin-right: 18px;

	&:hover {
		@include e(inner) {
			&::after {
				border-color: $--checkbox-checked-icon-color;
			}
		}
	}

	@include when(bordered) {
		padding: $--checkbox-bordered-padding-vertical
			calc(#{$--checkbox-bordered-padding-horizontal} + 6px) $--checkbox-bordered-padding-vertical
			$--checkbox-bordered-padding-horizontal;
		color: $--color-text-primary;
		background: transparent;
		box-shadow: $--box-shadow-convex;
		box-sizing: border-box;
		border-radius: $--border-radius-base;

		@include e(inner) {
			box-shadow: none;
		}

		@include e(label) {
			padding-left: 4px;
			line-height: 1;
		}

		@include when(checked) {
			box-shadow: $--box-shadow-concave;

			@include e(inner) {
				box-shadow: none;
			}
		}
	}

	@include when(button) {
		padding: $--checkbox-bordered-padding-vertical
			calc(#{$--checkbox-bordered-padding-horizontal} + 6px) $--checkbox-bordered-padding-vertical
			$--checkbox-bordered-padding-horizontal;
	}

	@include when(disabled) {
		cursor: not-allowed;
		position: relative;

		@include e(inner) {
			cursor: not-allowed;
			&,
			&:hover,
			&:focus,
			&:active {
				&::after {
					border-color: $--color-text-disabled;
				}
			}
		}

		@include e(label) {
			color: $--color-text-disabled;
		}

		@include when(checked) {
			@include e(inner) {
				&::after {
					border-color: $--color-primary-light;
				}
			}
		}
	}

	@include when(checked) {
		@include e(inner) {
			box-shadow: $--box-shadow-concave;

			&::after {
				border-color: $--checkbox-checked-icon-color;
			}
		}
	}

	@include when(focus) {
		@include e(inner) {
			&::after {
				box-shadow: 0 0 3px $--color-primary-light;
			}
		}
	}

	@include m(mini) {
		@include sizeMixin(
			$--checkbox-mini-bordered-padding-vertical,
			$--checkbox-mini-bordered-padding-horizontal,
			$--checkbox-mini-input-width,
			$--checkbox-mini-input-height,
			$--checkbox-mini-font-size,
			$--checkbox-mini-line-height
		);
	}

	@include m(small) {
		@include sizeMixin(
			$--checkbox-small-bordered-padding-vertical,
			$--checkbox-small-bordered-padding-horizontal,
			$--checkbox-small-input-width,
			$--checkbox-small-input-height,
			$--checkbox-small-font-size,
			$--checkbox-small-line-height
		);
	}

	@include m(large) {
		@include sizeMixin(
			$--checkbox-large-bordered-padding-vertical,
			$--checkbox-large-bordered-padding-horizontal,
			$--checkbox-large-input-width,
			$--checkbox-large-input-height,
			$--checkbox-large-font-size,
			$--checkbox-large-line-height
		);
	}

	@include e(input) {
		white-space: nowrap;
		cursor: pointer;
		outline: none;
		display: inline-flex;
		line-height: 1;
		position: relative;
		vertical-align: middle;

		@include e(inner) {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: relative;
			box-sizing: border-box;
			width: $--checkbox-input-width;
			height: $--checkbox-input-height;
			border-radius: $--checkbox-border-radius;
			box-shadow: $--box-shadow-convex;

			&::after {
				position: absolute;
				box-sizing: content-box;
				content: "";
				border: 2px solid $--checkbox-icon-color;
				border-left: 0;
				border-top: 0;
				height: 50%;
				transform: translate(0, -15%) rotate(45deg) scaleY(1);
				width: 25%;
				transition: 0.3s ease;
				transform-origin: center;
			}
		}

		@include e(original) {
			opacity: 0;
			outline: none;
			position: absolute;
			margin: 0;
			width: 0;
			height: 0;
			z-index: -1;
		}
	}

	@include e(label) {
		display: inline-block;
		font-size: $--checkbox-font-size;
		padding-left: 8px;
		transition: color 0.3s;
		line-height: $--checkbox-line-height;
	}

	@include when(indeterminate) {
		@include e(inner) {
			width: $--checkbox-input-width;
			height: $--checkbox-input-height;

			&::after {
				box-sizing: content-box;
				content: "";
				position: absolute;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background: $--checkbox-checked-icon-color;
				border: none;
				height: 4px;
				width: 100%;
				transform: scale(0.5);
			}
		}
	}
}

@include b(checkbox-group) {
	display: inline-block;
	font-size: 0;
	line-height: 1;
	vertical-align: middle;

	@include when(button) {
		box-shadow: $--box-shadow-convex;

		@include b(checkbox) {
			margin: 0;
			&:not(.is-disabled) {
				&:hover {
					.tu-checkbox__label {
						color: $--color-primary;
					}
				}
			}

			&.is-checked {
				color: $--color-primary;
				box-shadow: $--box-shadow-concave;
			}
		}
	}
}
