@include b(select-dropdown) {

    @include e(item) {
        font-size: $--select-font-size;
        padding: 0 $--select-option-padding-horizontal;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $--select-option-color;
        height: $--select-option-height;
        line-height: $--select-option-height;
        box-sizing: border-box;
        transition: all .3s ease;
        cursor: pointer;

        @include when(disabled) {
            color: $--select-option-disabled-color;
            cursor: not-allowed;

            &:hover {
                background-color: transparent;
            }
        }

        &.hover,
        &:hover {
            background: rgba($--color-greyDark, 0.25);
        }

        &.selected {
            color: $--color-primary;
        }
    }

    @include m(mini) {
        @include e(item) {
            font-size: $--select-mini-font-size;
            height: $--select-mini-option-height;
            line-height: $--select-mini-option-height;
            padding: 0 $--select-mini-option-padding-horizontal;
        }
    }

    @include m(small) {
        @include e(item) {
            font-size: $--select-small-font-size;
            height: $--select-small-option-height;
            line-height: $--select-small-option-height;
            padding: 0 $--select-small-option-padding-horizontal;
        }
    }

    @include m(large) {
        @include e(item) {
            font-size: $--select-large-font-size;
            height: $--select-large-option-height;
            line-height: $--select-large-option-height;
            padding: 0 $--select-large-option-padding-horizontal;
        }
    }
}