@mixin optionGroupSize($select-group-gap) {
	.tu-select-group__wrap {
		&:not(:last-of-type) {
			padding-bottom: $select-group-gap;

			&::after {
				bottom: $select-group-gap / 2;
				left: $select-group-gap;
				right: $select-group-gap;
			}
		}

		@include e(title) {
			padding-left: calc(#{$select-group-gap} - 2px);
		}

		&.tu-select-dropdown__item {
			padding-left: $select-group-gap;
		}
	}
}

@include b(select-dropdown) {
	@include b(select-group) {
		margin: 0;
		padding: 0;

		@include e(wrap) {
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;

			&:not(:last-of-type) {
				padding-bottom: 24px;

				&::after {
					content: "";
					position: absolute;
					display: block;
					left: $--select-group-gap;
					right: $--select-group-gap;
					bottom: 12px;
					height: 1px;
					background: $--color-border;
				}
			}
		}

		@include e(title) {
			padding-left: $--select-group-gap;
			font-size: $--select-group-font-size;
			color: $--select-group-color;
			line-height: $--select-group-height;
		}

		&.tu-select-dropdown__item {
			padding-left: $--select-group-gap;
		}
	}

	@include m(mini) {
		@include optionGroupSize($--select-mini-group-gap);
	}

	@include m(small) {
		@include optionGroupSize($--select-small-group-gap);
	}

	@include m(large) {
		@include optionGroupSize($--select-large-group-gap);
	}
}
