@import "../common/mixin.scss";
@import "../common/utils.scss";

@include b(pagination) {
	white-space: nowrap;
	padding: 2px 5px;
	color: $--color-text-primary;
	@include utils-clearfix;

	span:not([class*="suffix"]),
	button {
		display: inline-block;
		font-size: $--pagination-font-size;
		min-width: $--pagination-button-width;
		height: $--pagination-button-height;
		line-height: $--pagination-button-height;
		box-sizing: border-box;
	}

	.tu-select {
		span:not([class*="suffix"]),
		button {
			min-width: 0;
		}
	}

	button {
		border: none;
		padding: 0 6px;
		background: transparent;

		&:focus {
			outline: none;
		}

		&:hover {
			color: $--pagination-hover-color;
		}

		&:disabled {
			color: $--pagination-button-disabled-color;
			cursor: not-allowed;
		}
	}

	.btn-prev,
	.btn-next {
		cursor: pointer;
		margin: 0;
		color: $--pagination-button-color;

		&:hover:not(:disabled) .tu-icon {
			color: $--color-primary;
		}

		.tu-icon {
			position: relative;
		}
	}

	.btn-prev {
		padding-right: 12px;
	}

	.btn-next {
		padding-left: 12px;
	}

	.tu-pager li.disabled {
		color: $--color-text-placeholder;
		cursor: not-allowed;
	}

	@include m(small) {
		.btn-prev,
		.btn-next,
		.tu-pager li,
		.tu-pager li.btn-quicknext,
		.tu-pager li.btn-quickprev,
		.tu-pager li:last-child {
			border-color: transparent;
			font-size: 12px;
			line-height: 22px;
			height: 22px;
			min-width: 22px;
		}

		.arrow.disabled {
			visibility: hidden;
		}

		.more::before,
		li.more::before {
			line-height: 24px;
		}

		span:not([class*="suffix"]),
		button {
			vertical-align: center;
			height: 22px;
			line-height: 22px;
		}

		@include e(sizes) {
			.tu-select {
				height: 22px;
				.tu-input .tu-input__inner {
					height: 22px;
				}
			}
		}

		@include e(editor) {
			height: 22px;
			&.tu-input .tu-input__inner {
				height: 22px;
			}
		}

		@include when(button) {
			.tu-pager {
				margin-top: 1px;
			}
		}
	}

	@include e(sizes) {
		margin: 0 10px 0 0;
		font-weight: normal;
		color: $--color-text-primary;
		width: 90px;

		.tu-input .tu-input__inner {
			font-size: $--pagination-font-size;
			padding-left: 8px;
			padding-right: 20px;

			&:hover {
				border-color: $--pagination-hover-color;
			}
		}
		.tu-input__suffix {
			.tu-input__icon-slot {
				width: 18px;
				height: 22px;
				line-height: 22px;
				.tu-input__icon {
					width: 18px;
					position: relative;
					top: -1px;
				}
			}
		}
	}

	@include e(total) {
		margin-right: 10px;
		font-weight: normal;
		color: $--color-text-primary;
	}

	@include e(jump) {
		margin-left: 24px;
		font-weight: normal;
		color: $--color-text-primary;

		.tu-input__inner {
			padding: 0 3px;
		}
	}

	@include e(rightwrapper) {
		float: right;
	}

	@include e(editor) {
		line-height: 18px;
		padding: 0 2px;
		height: $--pagination-button-height;

		text-align: center;
		margin: 0 2px;
		box-sizing: border-box;
		border-radius: $--pagination-border-radius;

		&.tu-input {
			width: 50px;
		}

		.tu-input__inner::-webkit-inner-spin-button,
		.tu-input__inner::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	@include when(button) {
		.btn-prev,
		.btn-next,
		.tu-pager li {
			margin: 0 5px;
			color: $--color-text-primary;
			min-width: 30px;
			border-radius: 2px;
			box-shadow: $--box-shadow-convex;
			&.disabled {
				color: $--color-text-disabled;
			}
		}

		.btn-prev,
		.btn-next {
			padding: 0;

			&:disabled {
				color: $--color-text-disabled;
			}
		}

		.tu-pager li:not(.disabled) {
			&:hover {
				color: $--pagination-hover-color;
			}

			&.active {
				color: $--color-primary;
				box-shadow: $--box-shadow-concave;
			}
		}

		&.tu-pagination--small {
			.btn-prev,
			.btn-next,
			.tu-pager li {
				margin: 0 3px;
				min-width: 22px;
			}
		}
	}
}

@include b(pager) {
	user-select: none;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	padding: 0;
	margin: 0;

	.more::before {
		line-height: 30px;
	}

	li {
		padding: 0 4px;
		vertical-align: top;
		display: inline-block;
		font-size: $--pagination-font-size;
		min-width: $--pagination-button-width;
		height: $--pagination-button-height;
		line-height: $--pagination-button-height;
		cursor: pointer;
		box-sizing: border-box;
		text-align: center;
		margin: 0;
		transition: color 0.3s, opacity 0.3s;

		&.btn-quicknext,
		&.btn-quickprev {
			line-height: 28px;
			color: $--pagination-button-color;

			&.disabled {
				color: $--color-text-placeholder;
			}
		}

		&.btn-quickprev:hover {
			cursor: pointer;
		}

		&.btn-quicknext:hover {
			cursor: pointer;
		}

		&.active + li {
			border-left: 0;
		}

		&:hover {
			color: $--pagination-hover-color;
		}

		&.active {
			color: $--pagination-hover-color;
			cursor: default;
		}
	}
}
