@import "../common/mixin.scss";
@import "../common/popper.scss";

@include b(select-dropdown) {
	position: absolute;
	z-index: #{$--index-top + 1};
	border-radius: $--border-radius-base;
	box-sizing: border-box;
	box-shadow: $--box-shadow-convex;
	background-color: $--color-background;
	margin: 0 0 5px;

	@include when(multiple) {
		& .tu-select-dropdown__item {
			padding-right: 40px;
		}

		& .tu-select-dropdown__item.selected {
			color: $--select-option-selected-font-color;

			&.hover {
				background: $--color-hover-background;
			}

			&::after {
				position: absolute;
				right: 20px;
				font-family: "tu-icons";
				content: "\e886";
				font-size: 12px;
				font-weight: bold;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	.tu-scrollbar.is-empty .tu-select-dropdown__list {
		padding: 0;
	}

	@include b(select-dropdown__wrap) {
		max-height: $--select-dropdown-max-height;
	}

	@include b(select-dropdown__list) {
		list-style: none;
		padding: $--select-dropdown-padding;
		margin: 0;
		box-sizing: border-box;
	}

	@include b(select-dropdown__empty) {
		padding: $--select-dropdown-empty-padding;
		margin: 0;
		text-align: center;
		color: $--select-dropdown-empty-color;
		font-size: $--select-font-size;
	}

	@include m(mini) {
		@include b(select-dropdown__wrap) {
			max-height: $--select-mini-dropdown-max-height;
		}
	}

	@include m(small) {
		@include b(select-dropdown__wrap) {
			max-height: $--select-small-dropdown-max-height;
		}
	}

	@include m(large) {
		@include b(select-dropdown__wrap) {
			max-height: $--select-large-dropdown-max-height;
		}
	}
}
