@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(1turn);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}
