html,
body {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	-webkit-font-smoothing: antialiased;
	font-size: $--font-size-base;
	color: $--color-text-primary;
	-webkit-font-smoothing: antialiased;
}
