/**
    large: 40px | medium: 32px | small: 28px | mini: 22px
*/
/* Transition
-------------------------- */
$--all-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
	opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$--color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/* color
-------------------------- */
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--color-greyLight-1: #e4ebf5 !default;
$--color-greyLight-2: #c8d0e7 !default;
$--color-greyDark: #9baacf !default;
$--color-text-primary: #8394be !default;
$--color-text-secondary: #e4ebf5 !default;
$--color-text-placeholder: #bec8e4 !default;
$--color-text-disabled: #c8d0e7 !default;
$--color-box-shadow-dark: #c8d0e7 !default;
$--color-box-shadow-light: #ffffff !default;
$--color-border: #bec8e4 !default;
$--color-scrollbar-color: #c8d0e7 !default;
$--color-scrollbar-color-hover: #9baacf !default;
$--color-hover-background: rgba($--color-text-primary, 0.18) !default;

$--border-color-white: rgba($--color-white, 0.78) !default;
$--border-color-base: rgba($--color-text-placeholder, 0.38) !default;
$--border-color-light: rgba($--color-text-placeholder, 0.28) !default;
$--border-color-lighter: rgba($--color-text-placeholder, 0.18) !default;
$--border-color-extra-light: rgba($--color-text-placeholder, 0.1) !default;

/* background
-------------------------- */
$--color-background: #e4ebf5 !default;
$--background-color-hover: rgba($--color-text-placeholder, 0.25) !default;
$--background-color-hover-light: rgba($--color-text-placeholder, 0.15) !default;
$--background-color-hover-white: rgba($--color-white, 0.15) !default;

/*primary color*/
$--color-primary: #6d5dfc !default;
$--color-primary-light: #8abdff !default;
$--color-primary-dark: #510ccf !default;

/*success color*/
$--color-success: #6bc43f !default;
$--color-success-light: #93e769 !default;
$--color-success-dark: #3d8618 !default;
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;

/* info color */
$--color-info: #909399 !default;
$--color-info-light: #c5c5c5 !default;
$--color-info-dark: #54585f !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

/* warning color*/
$--color-warning: #e6a23c !default;
$--color-warning-light: #ffc979 !default;
$--color-warning-dark: #b67617 !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;

/* danger color*/
$--color-danger: #f56c6c !default;
$--color-danger-light: #ff9f9f !default;
$--color-danger-dark: #c44444 !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;

/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Popup
-------------------------- */
$--popup-modal-background-color: $--color-black !default;
$--popup-modal-opacity: 0.5 !default;

/* Typography
-------------------------- */
$--font-path: "fonts" !default;
$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 12px !default;
$--font-size-extra-small: 10px !default;

$--font-weight-bold: 500 !default;
$--font-weight-primary: 400 !default;
$--font-weight-secondary: 300 !default;

$--font-line-height-primary: 24px !default;
$--font-line-height-secondary: 16px !default;

/* Border
-------------------------- */
$--border-radius-large: 6px !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;
$--border-radius-zero: 0 !default;

/* BoxShadow
-------------------------- */
$--box-shadow-concave: inset 2px 2px 5px $--color-box-shadow-dark,
	inset -2px -2px 5px $--color-box-shadow-light !default; //凹
$--box-shadow-convex: 3px 3px 6px $--color-box-shadow-dark, -2px -2px 5px $--color-box-shadow-light !default; //凸
$--box-shadow-border: $--box-shadow-concave, $--box-shadow-convex !default;
$--box-shadow-light: 0 2px 12px 0 $--color-box-shadow-dark !default;
$--box-shadow-white: 0 2px 12px 0 $--color-box-shadow-light !default;

/* Button
-------------------------- */
$--button-disabled-font-color: $--color-text-primary !default;
$--button-font-color: $--color-text-secondary !default;
/*迷你 mini*/
$--button-mini-font-size: $--font-size-small !default;
$--button-mini-font-weight: $--font-weight-primary !default;
$--button-mini-border-radius: $--border-radius-small !default;
$--button-mini-padding-vertical: 5px !default;
$--button-mini-padding-horizontal: 7px !default;
$--button-mini-circle-size: 28px !default;
/*较小 small*/
$--button-small-font-size: $--font-size-small !default;
$--button-small-font-weight: $--font-weight-primary !default;
$--button-small-border-radius: $--border-radius-small !default;
$--button-small-padding-vertical: 8px !default;
$--button-small-padding-horizontal: 10px !default;
$--button-small-circle-size: 28px !default;
/*中等 medium*/
$--button-font-size: $--font-size-base !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-border-radius: $--border-radius-base !default;
$--button-padding-vertical: 9px !default;
$--button-padding-horizontal: 15px !default;
$--button-circle-size: 32px !default;
/*较大 large*/
$--button-large-font-size: $--font-size-large !default;
$--button-large-font-weight: $--font-weight-primary !default;
$--button-large-border-radius: $--border-radius-large !default;
$--button-large-padding-vertical: 13px !default;
$--button-large-padding-horizontal: 19px !default;
$--button-large-circle-size: 36px !default;

/* Radio
-------------------------- */
$--radio-font-color: $--color-text-primary !default;
$--radio-font-weight: $--font-weight-primary !default;
/*超小 mini*/
$--radio-mini-font-size: $--font-size-extra-small !default;
$--radio-mini-input-height: 14px !default;
$--radio-mini-input-width: 14px !default;
$--radio-mini-bordered-padding-vertical: 4px !default;
$--radio-mini-bordered-padding-horizontal: 3px !default;
$--radio-mini-line-height: 14px !default;
/*较小 small*/
$--radio-small-font-size: $--font-size-small !default;
$--radio-small-input-height: 16px !default;
$--radio-small-input-width: 16px !default;
$--radio-small-bordered-padding-vertical: 6px !default;
$--radio-small-bordered-padding-horizontal: 6px !default;
$--radio-small-line-height: 16px !default;
/*中等 medium*/
$--radio-font-size: $--font-size-base !default;
$--radio-input-height: 20px !default;
$--radio-input-width: 20px !default;
$--radio-font-size: $--font-size-base !default;
$--radio-bordered-padding-vertical: 6px !default;
$--radio-bordered-padding-horizontal: 6px !default;
$--radio-line-height: 18px !default;
/*较大 large*/
$--radio-large-font-size: $--font-size-base !default;
$--radio-large-input-height: 22px !default;
$--radio-large-input-width: 22px !default;
$--radio-large-bordered-padding-vertical: 9px !default;
$--radio-large-bordered-padding-horizontal: 13px !default;
$--radio-large-line-height: 22px !default;

/* Checkbox
-------------------------- */
$--checkbox-font-color: $--color-text-primary !default;
$--checkbox-font-weight: $--font-weight-primary !default;
$--checkbox-icon-color: $--color-text-primary !default;
$--checkbox-checked-icon-color: $--color-primary !default;
/*超小 mini*/
$--checkbox-mini-font-size: $--font-size-extra-small !default;
$--checkbox-mini-input-height: 14px !default;
$--checkbox-mini-input-width: 14px !default;
$--checkbox-mini-bordered-padding-vertical: 4px !default;
$--checkbox-mini-bordered-padding-horizontal: 4px !default;
$--checkbox-mini-line-height: 14px !default;
/*较小 small*/
$--checkbox-small-font-size: $--font-size-small !default;
$--checkbox-small-input-height: 16px !default;
$--checkbox-small-input-width: 16px !default;
$--checkbox-small-bordered-padding-vertical: 6px !default;
$--checkbox-small-bordered-padding-horizontal: 8px !default;
$--checkbox-small-line-height: 16px !default;
/*中等 medium*/
$--checkbox-font-size: $--font-size-base !default;
$--checkbox-input-height: 18px !default;
$--checkbox-input-width: 18px !default;
$--checkbox-border-radius: $--border-radius-small !default;
$--checkbox-bordered-padding-vertical: 7px !default;
$--checkbox-bordered-padding-horizontal: 8px !default;
$--checkbox-line-height: 18px !default;
/*较大 large*/
$--checkbox-large-font-size: $--font-size-base !default;
$--checkbox-large-input-height: 22px !default;
$--checkbox-large-input-width: 22px !default;
$--checkbox-large-bordered-padding-vertical: 9px !default;
$--checkbox-large-bordered-padding-horizontal: 13px !default;
$--checkbox-large-line-height: 22px !default;

/* Input
-------------------------- */
$--input-font-color: $--color-text-primary !default;
$--input-placeholder-font-color: $--color-text-placeholder !default;
$--input-placeholder-disabled-font-color: $--color-text-disabled !default;
$--input-font-weight: $--font-weight-primary !default;
$--input-border-radius: $--border-radius-base !default;
$--input-background-color: $--color-white !default;
/*超小 mini*/
$--input-mini-font-size: $--font-size-extra-small !default;
$--input-mini-height: 22px !default;
$--input-mini-padding-horizontal: 12px !default;
/*较小 small*/
$--input-small-font-size: $--font-size-small !default;
$--input-small-height: 28px !default;
$--input-small-padding-horizontal: 12px !default;
/*中等 medium*/
$--input-font-size: $--font-size-base !default;
$--input-height: 32px !default;
$--input-padding-horizontal: 12px !default;
/*较大 large*/
$--input-large-font-size: $--font-size-base !default;
$--input-large-height: 40px !default;
$--input-large-padding-horizontal: 12px !default;

/* Switch
-------------------------- */
$--switch-on-font-color: $--color-white !default;
$--switch-off-font-color: $--color-text-primary !default;

/*较小 small*/
$--switch-small-width: 36px !default;
$--switch-small-height: 18px !default;
$--switch-small-font-size: $--font-size-extra-small !default;
$--switch-small-button-size: 14px !default;
$--switch-small-button-padding: 2px !default;
$--switch-small-label-padding: 3px !default;
/*中等 medium*/
$--switch-width: 44px !default;
$--switch-height: 22px !default;
$--switch-font-size: $--font-size-small !default;
$--switch-button-size: 16px !default;
$--switch-button-padding: 3px !default;
$--switch-label-padding: 5px !default;
/*较大 large*/
$--switch-large-width: 60px !default;
$--switch-large-height: 28px !default;
$--switch-large-font-size: $--font-size-base !default;
$--switch-large-button-size: 20px !default;
$--switch-large-button-padding: 4px !default;
$--switch-large-label-padding: 11px !default;

/* Card
-------------------------- */
$--card-font-color: $--color-text-primary !default;
/*较小 small*/
$--card-small-font-size: $--font-size-small !default;
$--card-small-border-radius: $--border-radius-small !default;
$--card-small-header-padding-vertical: 8px !default;
$--card-small-header-padding-horizontal: 12px !default;
$--card-small-body-padding-vertical: 8px !default;
$--card-small-body-padding-horizontal: 12px !default;
/*中等 medium*/
$--card-font-size: $--font-size-base !default;
$--card-border-radius: $--border-radius-base !default;
$--card-header-padding-vertical: 12px !default;
$--card-header-padding-horizontal: 16px !default;
$--card-body-padding-vertical: 12px !default;
$--card-body-padding-horizontal: 16px !default;
/*较大 large*/
$--card-large-font-size: $--font-size-base !default;
$--card-large-border-radius: $--border-radius-large !default;
$--card-large-header-padding-vertical: 16px !default;
$--card-large-header-padding-horizontal: 20px !default;
$--card-large-body-padding-vertical: 16px !default;
$--card-large-body-padding-horizontal: 20px !default;

/* Popover
-------------------------- */
$--popover-background-color: $--color-white !default;
$--popover-font-size: $--font-size-base !default;
$--popover-border-color: $--border-color-light !default;
$--popover-arrow-size: 6px !default;
$--popover-padding: 12px !default;
$--popover-padding-large: 18px 20px !default;
$--popover-title-font-size: 16px !default;
$--popover-title-font-color: $--color-text-primary !default;

/* Tooltip
-------------------------- */
$--tooltip-fill: rgba(103, 105, 107, 1) !default;
$--tooltip-color: $--color-white !default;
$--tooltip-font-size: 12px !default;
$--tooltip-border-color: rgba(103, 105, 107, 1) !default;
$--tooltip-arrow-size: 4px !default;
$--tooltip-padding: 10px !default;

/* Scrollbar
--------------------------*/
$--scrollbar-background-color: $--color-scrollbar-color !default;
$--scrollbar-hover-background-color: $--color-scrollbar-color-hover !default;

/* Tag
-------------------------- */
$--tag-font-color: $--color-text-primary !default;
$--tag-color-fill: $--color-text-placeholder !default;
/*超小 mini*/
$--tag-mini-font-size: 9px !default;
$--tag-mini-padding-vertical: 2px !default;
$--tag-mini-padding-horizontal: 4px !default;
$--tag-mini-border-radius: 1px !default;
/*较小 small*/
$--tag-small-font-size: 10px !default;
$--tag-small-padding-vertical: 3px !default;
$--tag-small-padding-horizontal: 5px !default;
$--tag-small-border-radius: 2px !default;
/*中等 medium*/
$--tag-font-size: 12px !default;
$--tag-padding-vertical: 4px !default;
$--tag-padding-horizontal: 6px !default;
$--tag-border-radius: 3px !default;
/*较大 large*/
$--tag-large-font-size: 13px !default;
$--tag-large-padding-vertical: 6px !default;
$--tag-large-padding-horizontal: 8px !default;
$--tag-large-border-radius: 4px !default;

/* Select
-------------------------- */
$--select-close-hover-color: $--color-primary !default;

$--select-input-color: $--color-text-placeholder !default;
$--select-multiple-input-color: $--color-text-placeholder !default;

$--select-input-focus-border-color: $--color-primary !default;
$--select-option-color: $--color-text-primary !default;
$--select-option-disabled-color: $--color-text-placeholder !default;
$--select-option-disabled-background: $--color-white !default;
$--select-option-hover-background: $--color-hover-background !default;

$--select-option-selected-font-color: $--color-primary !default;
$--select-option-selected-hover: $--color-hover-background !default;

$--select-group-color: $--color-text-placeholder !default;

$--select-dropdown-background: $--color-white !default;
$--select-dropdown-empty-color: $--color-text-placeholder !default;

/*超小 mini*/
$--select-mini-input-font-size: $--font-size-extra-small !default;
$--select-mini-font-size: $--font-size-extra-small !default;
$--select-mini-option-height: 26px !default;
$--select-mini-option-padding-horizontal: 12px !default;

$--select-mini-group-height: 22px !default;
$--select-mini-group-font-size: 10px !default;
$--select-mini-group-gap: 12px !default;

$--select-mini-dropdown-max-height: 176px !default;
$--select-mini-dropdown-padding: 6px 0 !default;
$--select-mini-dropdown-empty-padding: 6px 0 !default;

/*较小 small*/
$--select-small-input-font-size: $--font-size-small !default;
$--select-small-font-size: $--font-size-small !default;
$--select-small-option-height: 30px !default;
$--select-small-option-padding-horizontal: 20px !default;

$--select-small-group-height: 26px !default;
$--select-small-group-font-size: 12px !default;
$--select-small-group-gap: 14px !default;

$--select-small-dropdown-max-height: 216px !default;
$--select-small-dropdown-padding: 6px 0 !default;
$--select-small-dropdown-empty-padding: 6px 0 !default;

/*中等 medium*/
$--select-input-font-size: $--font-size-base !default;
$--select-font-size: $--font-size-base !default;
$--select-option-height: 36px !default;
$--select-option-padding-horizontal: 22px !default;

$--select-group-height: 30px !default;
$--select-group-font-size: 12px !default;
$--select-group-gap: 16px !default;

$--select-dropdown-max-height: 272px !default;
$--select-dropdown-padding: 6px 0 !default;
$--select-dropdown-empty-padding: 10px 0 !default;

/*较大 large*/
$--select-large-input-font-size: $--font-size-base !default;
$--select-large-font-size: $--font-size-base !default;
$--select-large-option-height: 38px !default;
$--select-large-option-padding-horizontal: 24px !default;

$--select-large-group-height: 32px !default;
$--select-large-group-font-size: 12px !default;
$--select-large-group-gap: 18px !default;

$--select-large-dropdown-max-height: 386px !default;
$--select-large-dropdown-padding: 6px 0 !default;
$--select-large-dropdown-empty-padding: 14px 0 !default;

/* Tab
-------------------------- */
$--tab-font-size: $--font-size-base !default;
$--tab-font-color: $--color-text-primary !default;
$--tab-header-color-active: $--color-primary !default;
$--tab-header-color-hover: $--color-primary !default;

/* Form
-------------------------- */
$--form-label-font-size: $--font-size-base !default;

/* DatePicker
--------------------------*/

/* Dropdown
-------------------------- */

/* Message
-------------------------- */

/* Panination
-------------------------- */
$--pagination-font-size: 14px !default;
$--pagination-background-color: $--color-white !default;
$--pagination-font-color: $--color-text-primary !default;
$--pagination-border-radius: 3px !default;
$--pagination-button-color: $--color-text-primary !default;
$--pagination-button-width: 34px !default;
$--pagination-button-height: 28px !default;
$--pagination-button-disabled-color: $--color-text-placeholder !default;
$--pagination-button-disabled-background-color: $--color-white !default;
$--pagination-hover-color: $--color-primary !default;

// $--message-shadow: $--box-shadow-base;
$--message-min-width: 380px !default;
$--message-color: $--color-text-primary !default;
$--message-padding: 15px 15px 15px 20px !default;
$--message-close-icon-color: $--color-text-placeholder !default;
$--message-close-size: 16px !default;
$--message-close-hover-color: $--color-text-primary !default;

$--message-success-font-color: $--color-success !default;
$--message-info-font-color: $--color-info !default;
$--message-warning-font-color: $--color-warning !default;
$--message-danger-font-color: $--color-danger !default;

/* Cascader
-------------------------- */
$--cascader-menu-font-color: $--color-text-primary !default;
$--cascader-menu-selected-font-color: $--color-primary !default;
$--cascader-menu-fill: $--color-white !default;
$--cascader-menu-font-size: $--font-size-base !default;
$--cascader-menu-radius: $--border-radius-base !default;
$--cascader-menu-border: solid 1px $--color-text-placeholder !default;
$--cascader-node-color-disabled: $--color-text-placeholder !default;
$--cascader-color-empty: $--color-text-placeholder !default;

/* Slider
-------------------------- */
$--slider-main-background-color: $--color-primary !default;
$--slider-runway-background-color: $--border-color-light !default;
$--slider-button-hover-color: mix($--color-primary, black, 97%) !default;
$--slider-stop-background-color: $--color-white !default;
$--slider-disable-color: $--color-text-placeholder !default;
$--slider-margin: 16px 0 !default;
$--slider-border-radius: 4px !default;
$--slider-height: 8px !default;
$--slider-button-size: 18px !default;
$--slider-button-wrapper-size: 36px !default;
$--slider-button-wrapper-offset: -15px !default;

/* Rate
--------------------------*/
$--rate-height: 20px !default;
/// fontSize||Font|1
$--rate-font-size: $--font-size-base !default;
/// height||Other|3
$--rate-icon-size: 18px !default;
/// margin||Spacing|2
$--rate-icon-margin: 6px !default;
$--rate-icon-color: $--color-text-placeholder !default;

/* Transfer
--------------------------*/
$--transfer-border-color: $--border-color-lighter !default;
$--transfer-border-radius: $--border-radius-base !default;
$--transfer-panel-width: 200px !default;
$--transfer-panel-header-height: 40px !default;
$--transfer-panel-header-background-color: $--color-hover-background !default;
$--transfer-panel-footer-height: 40px !default;
$--transfer-panel-body-height: 238px !default;
$--transfer-item-height: 28px !default;
$--transfer-filter-height: 28px !default;

/* Tree
-------------------------- */
$--tree-node-hover-background-color: rgba($--color-greyDark, 0.15) !default;
$--tree-font-color: $--color-text-primary !default;
$--tree-expand-icon-color: $--color-text-primary !default;

/* Badge
-------------------------- */
$--badge-background-color: $--color-danger !default;
$--badge-radius: 10px !default;
$--badge-font-size: 12px !default;
$--badge-padding: 6px !default;
$--badge-size: 18px !default;

/* Modal
-------------------------- */
$--modal-background-color: $--color-white !default;
$--modal-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$--modal-title-font-size: $--font-size-base !default;
$--modal-content-font-size: 14px !default;
$--modal-font-line-height: $--font-line-height-primary !default;
$--modal-padding-primary: 20px !default;
$--modal-padding-horizontal: 18px !default;
$--modal-padding-vertical: 12px !default;

/* Table
-------------------------- */
$--table-border: 1px solid $--border-color-base !default;
$--table-font-color: $--color-text-primary !default;
$--table-header-font-color: $--color-text-primary !default;
$--table-row-hover-background-color: $--color-hover-background;
$--table-current-row-background-color: $--color-white !default;
$--table-header-background-color: $--color-white !default;
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12) !default;

/* Popover
-------------------------- */
$--popover-background-color: $--color-white !default;
$--popover-font-size: $--font-size-base !default;
$--popover-border-color: $--border-color-lighter !default;
$--popover-arrow-size: 6px !default;
$--popover-padding: 12px !default;
$--popover-padding-large: 18px 20px !default;
$--popover-title-font-size: 16px !default;
$--popover-title-font-color: $--color-text-primary !default;

/* Timeline
--------------------------*/
$--timeline-node-size-normal: 12px !default;
$--timeline-node-size-large: 14px !default;
$--timeline-node-color: $--color-text-placeholder !default;
$--timeline-border-color: $--border-color-base !default;

/* MessageBox
-------------------------- */
$--messagebox-title-color: $--color-text-primary !default;
$--messagebox-width: 420px !default;
$--messagebox-border-radius: 4px !default;
$--messagebox-font-size: $--font-size-base !default;
$--messagebox-content-font-size: $--font-size-base !default;
$--messagebox-content-color: $--color-text-primary !default;
$--messagebox-error-font-size: 12px !default;
$--messagebox-padding-primary: 16px !default;
$--messagebox-padding-horizontal: 18px !default;
$--messagebox-padding-vertical: 12px !default;
$--messagebox-success-color: $--color-success !default;
$--messagebox-info-color: $--color-greyDark !default;
$--messagebox-warning-color: $--color-warning !default;
$--messagebox-danger-color: $--color-danger !default;

/* Avatar
--------------------------*/
$--avatar-font-color: $--color-white !default;
$--avatar-background-color: rgb(192, 196, 204) !default;
$--avatar-text-font-size: 14px !default;
$--avatar-icon-font-size: 18px !default;
$--avatar-border-radius: $--border-radius-base !default;
$--avatar-large-size: 40px !default;
$--avatar-medium-size: 36px !default;
$--avatar-small-size: 28px !default;

/* Calendar
--------------------------*/
$--calendar-border: $--table-border !default;
$--calendar-hover-background-color: $--background-color-hover-white !default;
$--calendar-cell-width: 85px !default;

/* Alert
-------------------------- */
$--alert-padding: 8px 16px !default;
$--alert-border-radius: $--border-radius-base !default;
$--alert-title-font-size: 13px !default;
$--alert-description-font-size: 12px !default;
$--alert-close-font-size: 12px !default;
$--alert-close-customed-font-size: 13px !default;
$--alert-success-color: $--color-success-lighter !default;
$--alert-info-color: $--color-info-lighter !default;
$--alert-warning-color: $--color-warning-lighter !default;
$--alert-danger-color: $--color-danger-lighter !default;
$--alert-icon-size: 16px !default;
$--alert-icon-large-size: 28px !default;

/* Notification
-------------------------- */
$--notification-width: 330px !default;
$--notification-padding: 14px 26px 14px 13px !default;
$--notification-radius: 2px !default;
$--notification-shadow: $--box-shadow-light !default;
$--notification-border-color: $--border-color-lighter !default;
$--notification-icon-size: 24px !default;
$--notification-close-font-size: $--message-close-size !default;
$--notification-group-margin-left: 13px !default;
$--notification-group-margin-right: 8px !default;
$--notification-content-font-size: $--font-size-base !default;
$--notification-content-color: $--color-text-primary !default;
$--notification-title-font-size: $--font-size-base !default;
$--notification-title-color: $--color-text-primary !default;
$--notification-close-color: $--color-text-secondary !default;
$--notification-close-hover-color: $--color-primary !default;
$--notification-success-icon-color: $--color-success !default;
$--notification-info-icon-color: $--color-info !default;
$--notification-warning-icon-color: $--color-warning !default;
$--notification-danger-icon-color: $--color-danger !default;

/* Descriptions
-------------------------- */
$--descriptions-header-margin-bottom: 12px !default;
$--descriptions-title-font-size: 14px !default;
$--descriptions-table-border: 1px solid $--border-color-base !default;
$--descriptions-item-bordered-label-background: rgba($--color-white, 0.25) !default;

/* Skeleton 
--------------------------*/
$--skeleton-color: $--background-color-hover !default;
$--skeleton-to-color: $--background-color-hover-light !default;

/* Collapse
--------------------------*/
$--collapse-border-color: $--border-color-lighter !default;
$--collapse-header-height: 48px !default;
$--collapse-header-background-color: $--color-white !default;
$--collapse-header-font-color: $--color-text-primary !default;
$--collapse-header-font-size: 13px !default;
$--collapse-content-background-color: $--color-white !default;
$--collapse-content-font-size: 13px !default;
$--collapse-content-font-color: $--color-text-primary !default;

/* Svg
--------------- */
$--svg-monochrome-grey: $--color-text-primary !default;

/* Loading
--------------------------*/
$--loading-spinner-size: 42px !default;
$--loading-fullscreen-spinner-size: 50px !default;

/* Avatar
--------------------------*/
$--image-background-color: rgb(223, 226, 231) !default;

/* Carousel
--------------------------*/
$--carousel-arrow-font-size: 12px !default;
$--carousel-arrow-size: 36px !default;
$--carousel-arrow-background: rgba(31, 45, 61, 0.11) !default;
$--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23) !default;
$--carousel-indicator-width: 30px !default;
$--carousel-indicator-height: 2px !default;
$--carousel-indicator-padding-horizontal: 4px !default;
$--carousel-indicator-padding-vertical: 12px !default;
$--carousel-indicator-out-color: $--color-text-primary !default;

/* Empty
-------------------------- */
$--empty-padding: 40px 0 !default;
$--empty-image-width: 160px !default;
$--empty-description-margin-top: 12px !default;
$--empty-bottom-margin-top: 20px !default;

/* Result
-------------------------- */
$--result-padding: 40px 30px !default;
$--result-icon-font-size: 64px !default;
$--result-title-font-size: 20px !default;
$--result-title-margin-top: 20px !default;
$--result-subtitle-margin-top: 10px !default;
$--result-extra-margin-top: 30px !default;
$--result-info-color: $--color-info !default;
$--result-success-color: $--color-success !default;
$--result-warning-color: $--color-warning !default;
$--result-danger-color: $--color-danger !default;

/* Menu
--------------------------*/
$--menu-item-font-size: $--font-size-base !default;
$--menu-item-font-color: $--color-text-primary !default;
$--menu-background-color: $--color-white !default;
$--menu-item-hover-fill: $--color-primary-light !default;

/* Tree-select
-------------------------- */
$--tree-select-input-color: $--color-text-placeholder !default;
$--tree-select-font-size: $--font-size-base !default;
$--tree-select-input-font-size: $--font-size-base !default;
$--tree-select-close-hover-color: $--color-text-primary !default;
$--tree-select-multiple-input-color: $--color-text-placeholder !default;

$--tree-select-dropdown-max-height: 272px !default;
$--tree-select-dropdown-padding: 6px 0 !default;

$--tree-select-mini-dropdown-max-height: 176px !default;
$--tree-select-small-dropdown-max-height: 216px !default;
$--tree-select-large-dropdown-max-height: 386px !default;

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
	"xs": (
		max-width: $--sm - 1,
	),
	"sm": (
		min-width: $--sm,
	),
	"md": (
		min-width: $--md,
	),
	"lg": (
		min-width: $--lg,
	),
	"xl": (
		min-width: $--xl,
	),
);

$--breakpoints-spec: (
	"xs-only": (
		max-width: $--sm - 1,
	),
	"sm-and-up": (
		min-width: $--sm,
	),
	"sm-only": "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
	"sm-and-down": (
		max-width: $--md - 1,
	),
	"md-and-up": (
		min-width: $--md,
	),
	"md-only": "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
	"md-and-down": (
		max-width: $--lg - 1,
	),
	"lg-and-up": (
		min-width: $--lg,
	),
	"lg-only": "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
	"lg-and-down": (
		max-width: $--xl - 1,
	),
	"xl-only": (
		min-width: $--xl,
	),
);
