/* Transition
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645, .045, .355, 1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645, .045, .355, 1) !default;
$--color-transition-base: color .2s cubic-bezier(.645, .045, .355, 1) !default;

/* color
-------------------------- */
$--color-white: #ffffff;
$--color-greyLight-1: #E4EBF5;
$--color-greyLight-2: #c8d0e7;
$--color-greyLight-3: #bec8e4;
$--color-greyDark: #9baacf;
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #C0C4CC;
$--border-color-base: #DCDFE6;
$--border-color-light: #E4E7ED;
$--border-color-lighter: #EBEEF5;
$--border-color-extra-light: #F2F6FC;


/*primary color*/
$--color-primary-light: #8abdff;
$--color-primary: #6d5dfc;
$--color-primary-dark: #510ccf;

/*success color*/
$--color-success-light: #93e769;
$--color-success: #6bc43f;
$--color-success-dark: #3d8618;

/* info color */
$--color-info-light: #c5c5c5;
$--color-info: #909399;
$--color-info-dark: #54585f;

/* warning color*/
$--color-warning-light: #ffc979;
$--color-warning: #e6a23c;
$--color-warning-dark: #b67617;

/* danger color*/
$--color-danger-light: #ff9f9f;
$--color-danger: #f56c6c;
$--color-danger-dark: #c44444;

/* Typography
-------------------------- */
$--font-size-extra-large: 20px;
$--font-size-large: 18px;
$--font-size-medium: 16px;
$--font-size-base: 14px;
$--font-size-small: 12px;
$--font-size-extra-small: 10px;

$--font-weight-primary: 500;
$--font-weight-secondary: 400;

$--font-line-height-primary: 24px;
$--font-line-height-secondary: 16px;

/* Border
-------------------------- */
$--border-radius-large: 6px;
$--border-radius-base: 4px;
$--border-radius-small: 2px;

/* Button
-------------------------- */
$--button-disabled-font-color: $--color-greyDark;
$--button-font-color: $--color-greyLight-1;
/*较小*/
$--button-small-font-size: $--font-size-small;
$--button-small-font-weight: $--font-weight-primary;
$--button-small-border-radius: $--border-radius-small;
$--button-small-padding-vertical: 8px;
$--button-small-padding-horizontal: 10px;
$--button-small-circle-size: 28px;
/*中等*/
$--button-font-size: $--font-size-base;
$--button-font-weight: $--font-weight-primary;
$--button-border-radius: $--border-radius-base;
$--button-padding-vertical: 12px;
$--button-padding-horizontal: 18px;
$--button-circle-size: 32px;
/*较大*/
$--button-large-font-size: $--font-size-base;
$--button-large-font-weight: $--font-weight-primary;
$--button-large-border-radius: $--border-radius-large;
$--button-large-padding-vertical: 15px;
$--button-large-padding-horizontal: 22px;
$--button-large-circle-size: 36px;

/* Radio
-------------------------- */
$--radio-font-color: $--color-greyDark;
$--radio-font-weight: $--font-weight-primary;
/*超小*/
$--radio-mini-font-size: $--font-size-extra-small;
$--radio-mini-input-height: 14px;
$--radio-mini-input-width: 14px;
$--radio-mini-bordered-padding-vertical: 3px;
$--radio-mini-bordered-padding-horizontal: 3px;
/*较小*/
$--radio-small-font-size: $--font-size-small;
$--radio-small-input-height: 16px;
$--radio-small-input-width: 16px;
$--radio-small-bordered-padding-vertical: 6px;
$--radio-small-bordered-padding-horizontal: 6px;
/*中等*/
$--radio-font-size: $--font-size-base;
$--radio-input-height: 20px;
$--radio-input-width: 20px;
$--radio-font-size: $--font-size-base;
$--radio-bordered-padding-vertical: 9px;
$--radio-bordered-padding-horizontal: 9px;
/*较大*/
$--radio-large-font-size: $--font-size-base;
$--radio-large-input-height: 22px;
$--radio-large-input-width: 22px;
$--radio-large-bordered-padding-vertical: 11px;
$--radio-large-bordered-padding-horizontal: 15px;

/* Checkbox
-------------------------- */
$--checkbox-font-color: $--color-greyDark;
$--checkbox-font-weight: $--font-weight-primary;
$--checkbox-icon-color: $--color-greyDark;
$--checkbox-checked-icon-color: $--color-primary;
/*超小*/
$--checkbox-mini-font-size: $--font-size-extra-small;
/*较小*/
$--checkbox-small-font-size: $--font-size-small;
/*中等*/
$--checkbox-font-size: $--font-size-base;
$--checkbox-input-height: 20px;
$--checkbox-input-width: 20px;
$--checkbox-border-radius: $--border-radius-small;
/*较大*/
$--checkbox-large-font-size: $--font-size-base;