/* 默认颜色值 */
$common-white: #fff;
$main-color-style: #ff6353;
$mian-gray-color: #999;

/* 字体大小 */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;

/* 按钮颜色值 */
$button-primary: #07c160;
$button-danger: #ee0a24;
$button-warning: #ff976a;
$button-info: #1989fa;