.theme-container {
  .navbar, 
  .sidebar, 
  .navbar .links,
  .navbar .links .search-box input, 
  .page .demo-block .demo-block-control, 
  .page .demo-block .demo-block-control:hover,
  .content__default > table tr th {
    background:#e4ebf5;
    border-color: rgba(200, 208, 231, 0.3);
  }
  h1, h2, h3, p {
    font-weight: 500;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
    color: #4e5a77;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: #6a7899;
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    color: #8394be;
  }
   table {
    display: table;
    margin: 0;
    padding: 0;
    tr:nth-child(2n){
      background: transparent;
    }
  }
  .sidebar {
    .sidebar-links {
      .sidebar-link {
        font-size: 14px;
      }
    }
  }
  .page {
    .content__default {
      > table {
        display: table;
        border-collapse: collapse;
        width: 100%;
        font-size: 14px;
        margin-bottom: 45px;
        line-height: 1.5em;
        display: table;
        margin-top: 10px;
        td {
          border-color: rgba(200, 208, 231, 0.3);
        }
      }
      pre {
        code {
          color: #9baacf;;
        }
      }
      .demo-block {
        .meta {
          background: transparent;
          border-color: rgba(200, 208, 231, 0.3);
          .description {
            background-color: rgba(255, 255, 255, 0.3);
            border: none;
          }  
        }
      }
    }
  }
  .home {
    .hero {
      >img {
        width: 160px;
        height: 160px;
      }
      >h1 {
        font-size: 40px;
        font-weight: 400;
      }
      .description {
        font-size: 16px;
      }
      .action-button, .action-button:hover{
        padding: 4px 10px;
        font-size: 14px;
        border-radius: 50px;
        background: none;
        border: none;
        box-shadow: 3px 3px 6px #c8d0e7, -2px -2px 5px #fff;
        color: #8394be;
      }
      .action-button:active{
        box-shadow: inset 2px 2px 5px #c8d0e7, inset -2px -2px 5px #fff;
      }
    }
    >.theme-default-content{
      opacity: 0;
    }
  }
}

#滚动条样式
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

body::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: 0.3s ease;
  z-index: 100;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
*{
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}