.theme-container .theme-default-content pre code {
    color: #333333;
}
.theme-container .home .hero img {
    width: 140px;
}
.theme-container .home .hero h1 {
    font-size: 2.4rem;
}
.theme-container .home .hero .description{
    font-size: 1.3rem;
}
.theme-container .home .hero .action-button{
    padding: 0.4rem 1.0rem;
    font-size: 1.0rem;
}
.theme-container .demo-block .demo-content {
    background: #e4ebf5;
}
.theme-container .page .demo-block .meta {
    background: #fafafa;
    border: none;
}
