html,
body, 
.navbar, 
.theme-container .navbar .links, 
.sidebar,
.theme-container .navbar .links .search-box input,
.theme-container .page .demo-block .demo-block-control,
.theme-container .page .demo-block .demo-block-control:hover,
.theme-container .page .content__default > table tr th,
.theme-container .page .content__default > table tr td
{
    background: #e4ebf5;
    border-color: #cad5e1;
}
table{
  display: table;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n){
  background: #e4ebf5;
}
.theme-container .page table{
    margin: 0;
}


div[class*="language-"]{
    background: rgba(255,255,255,0.28);
}

h2 {
    font-weight: 400;
    color: #1f2f3d;
    font-size: 28px;
}
h3 {
    font-weight: 400;
    color: #1f2f3d;
    font-size: 22px;
}
p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
}
.theme-container .theme-default-content > table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;
    display: table;
    margin-top: 10px;
}
.theme-container .sidebar .sidebar-links .sidebar-link{
    color: #9baacf;
    font-size: 0.9rem;
}
.theme-container .sidebar .sidebar-links .sidebar-group .sidebar-heading{
    color: #9baacf;
    font-size: 0.9rem;
}
.theme-container .theme-default-content pre code {
    color: #9baacf;
    font-size: 14px;
}
.theme-container .home .hero img {
    width: 140px;
}
.theme-container .home .hero h1 {
    font-size: 2.4rem;
}
.theme-container .home .hero .description{
    font-size: 1.3rem;
}
.theme-container .home .hero .action-button{
    padding: 0.4rem 1.0rem;
    font-size: 1.0rem;
}
.theme-container .page .demo-block{
    border: none;
}
.theme-container .demo-block .demo-content {
    background: #e4ebf5;
}
.theme-container .page .demo-block .meta {
    background: rgba(255, 255, 255, 0.28);
    border: none;
}
.theme-container .page .demo-block .meta .description{
    background: transparent;
    border-color: #cad5e1;
}
.theme-container .page .demo-block .meta .code-content, 
.theme-container .page .demo-block .meta .code-content .language-html{
    background: transparent;
}
.theme-container .page .language-bash, 
.theme-container .page .tip{
     background: rgba(255, 255, 255, 0.28);
}
.theme-container .home >.theme-default-content{
    opacity: 0;
}

.theme-container .page .demo-block .demo-content{
    padding: 12px;
}
