@import "~@packages/style/common/mixin.scss";
@import "~@packages/style/common/popper.scss";

@include b(select-dropdown) {
    position: absolute;
    z-index: #{$--index-top + 1};
    border-radius: $--border-radius-base;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px $--color-greyLight-2,
        -2px -2px 5px $--color-white;
    margin: 0 0 5px;

    @include when(multiple) {
        & .tu-select-dropdown__item {
            padding-right: 40px;
        }

        & .tu-select-dropdown__item.selected {
            color: $--select-option-selected-font-color;
            background-color: $--select-dropdown-background;

            &.hover {
                background-color: $--select-option-hover-background;
            }

            &::after {
                position: absolute;
                right: 20px;
                font-family: 'element-icons';
                content: "\e6da";
                font-size: 12px;
                font-weight: bold;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }

    .tu-scrollbar.is-empty .tu-select-dropdown__list {
        padding: 0;
    }
}

@include b(select-dropdown__empty) {
    padding: $--select-dropdown-empty-padding;
    margin: 0;
    text-align: center;
    color: $--select-dropdown-empty-color;
    font-size: $--select-font-size;
}

@include b(select-dropdown__wrap) {
    max-height: $--select-dropdown-max-height;
}

@include b(select-dropdown__list) {
    list-style: none;
    padding: $--select-dropdown-padding;
    margin: 0;
    box-sizing: border-box;
}