@import "~@packages/style/common/mixin.scss";
@import "~@packages/style/common/utils.scss";
@import "../../date-picker/src/style/picker.scss";
@import "../../date-picker/src/style/date-picker.scss";

.time-select {
	margin: 5px 0;
	min-width: 0;
}

.time-select .tu-picker-panel__content {
	margin: 0;
}

.time-select-item {
	padding: 8px 10px;
	font-size: 14px;
	line-height: 20px;
	transition: all 0.3s ease;
	color: $--color-greyDark;
}

.time-select-item.selected:not(.disabled) {
	color: $--color-primary;
}

.time-select-item:hover:not(.disabled) {
	background: rgba($--color-greyDark, 0.25);
	cursor: pointer;
}

.time-select-item.disabled {
	color: $--color-greyLight-3;
	cursor: not-allowed;
}
