@include b(month-table) {
	font-size: 12px;
	margin: -1px;
	border-collapse: collapse;

	td {
		text-align: center;
		cursor: pointer;
		& div {
			box-sizing: border-box;
			margin: 18px 8px;
			padding: 3px;
		}
		&.today {
			.cell {
				color: $--color-primary;
				font-weight: bold;
			}
			&.start-date .cell,
			&.end-date .cell {
				color: $--color-white;
			}
		}

		&.disabled .cell {
			background-color: rgba($--color-greyLight-2, 0.3);
			cursor: not-allowed;
		}

		.cell {
			width: 48px;
			height: 24px;
			display: block;
			line-height: 24px;
			margin: 0 auto;
			transition: all 0.3s;
			border-radius: 2px;
			&:hover {
				color: $--color-primary;
			}
		}

		&.in-range div {
			background-color: rgba($--color-greyLight-2, 0.38);
		}

		&.start-date div .cell,
		&.end-date div .cell {
			color: $--color-white;
			background-color: $--color-primary;
		}

		&.start-date .cell,
		&.end-date .cell {
			color: $--color-white;
			background-color: $--color-primary;
		}

		&.current:not(.disabled) .cell {
			background-color: $--color-primary;
			color: $--color-white;
			border-radius: 2px;
		}
	}
}
