@include b(year-table) {
	margin: -1px;
	border-collapse: collapse;
	display: table;

	tr,
	tr:nth-child(2n),
	td {
		padding: 0;
		border: none;
		background: transparent;
	}

	td {
		text-align: center;
		padding: 20px 3px;
		cursor: pointer;

		&.today {
			.cell {
				color: $--color-primary;
				font-weight: bold;
			}
		}

		&.disabled .cell {
			background-color: rgba($--color-greyLight-2, 0.3);
			cursor: not-allowed;
		}

		.cell {
			width: 48px;
			height: 24px;
			display: block;
			line-height: 24px;
			margin: 0 auto;
			transition: all 0.3s;
			color: $--color-greyDark;
			font-weight: $--font-weight-secondary;

			&:hover {
				color: $--color-primary;
			}
		}

		&.current:not(.disabled) .cell {
			background-color: $--color-primary;
			color: $--color-white;
			border-radius: 2px;
		}
	}
}
