@import "~@packages/style/common/mixin.scss";

@include b(tabs) {
    @include e(header) {
        padding: 0;
        position: relative;

        @include e(nav-wrap) {
            overflow: hidden;
            position: relative;

            @include e(nav-scroll) {

                @include e(nav) {
                    white-space: nowrap;
                    position: relative;
                    z-index: #{$--index-normal + 1};

                    @include e(item) {
                        padding: 0 20px;
                        height: 40px;
                        box-sizing: border-box;
                        line-height: 40px;
                        display: inline-block;
                        list-style: none;
                        font-size: 14px;
                        font-weight: 500;
                        position: relative;
                        transition: all .3s;
                        color: $--color-greyDark;

                        &:focus,
                        &:focus:active {
                            outline: none;
                        }

                        & .tu-icon-close {
                            border-radius: 50%;
                            text-align: center;
                            transition: all .3s cubic-bezier(.645, .045, .355, 1);
                            margin-left: 5px;
                            color: $--color-greyLight-3;
                            font-size: 12px;

                            &:hover {
                                color: $--color-greyDark;
                            }
                        }

                        &:hover {
                            cursor: pointer;
                            color: $--tab-header-color-active;
                        }

                        @include when(active) {
                            color: $--tab-header-color-active;
                        }
                    }
                }

                @include e(active-bar) {}
            }
        }

        @include e(new-tab) {
            float: right;
            height: 16px;
            width: 16px;
            line-height: 16px;
            border-radius: 3px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            transition: all .15s;
            color: $--color-greyLight-3;
            margin: 12px;

            &:hover {
                color: $--color-greyDark;
            }
        }
    }

    @include e(content) {
        padding: 12px;
        overflow: hidden;
        position: relative;
        color: $--tab-font-color;
        font-size: $--tab-font-size;
    }

    @include m(line) {

        @include e(header) {

            @include e(nav-wrap) {

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    width: 100%;
                    height: 1px;
                    background-color: rgba($--color-greyLight-2, 0.65);
                    z-index: $--index-normal;
                }
            }

            @include e(nav-scroll) {}

            @include e(nav) {}

            @include e(active-bar) {
                position: absolute;
                bottom: 2px;
                left: 0;
                height: 2px;
                z-index: 1;
                transition: all .3s cubic-bezier(.645, .045, .355, 1);
                list-style: none;
                border-radius: 50%;
                box-shadow: 3px 1px 2px $--color-greyLight-2,
                    -2px -2px 3px $--color-white,
                    inset 3px 3px 2px $--color-greyLight-2,
                    inset -2px -2px 2px $--color-white;
            }
        }
    }

    @include m(card) {
        @include e(header) {
            box-shadow: 3px 3px 6px $--color-greyLight-2, -2px -2px 5px $--color-white;

            @include e(nav-wrap) {}

            @include e(nav-scroll) {}

            @include e(nav) {}

            @include e(active-bar) {
                position: absolute;
                bottom: 3px;
                left: -10px;
                height: 34px;
                padding: 0 10px;
                z-index: 0;
                transition: all .3s cubic-bezier(.645, .045, .355, 1);
                list-style: none;
                box-shadow: inset 2px 2px 5px $--color-greyLight-2, inset -2px -2px 5px $--color-white;
                border-radius: 6px;
            }
        }
    }

    @include m(border-card) {

        @include e(header) {
            box-shadow: 3px 3px 6px $--color-greyLight-2, -2px -2px 5px $--color-white;

            @include e(nav-wrap) {}

            @include e(nav-scroll) {}

            @include e(nav) {}

            @include e(active-bar) {
                position: absolute;
                bottom: 3px;
                left: -10px;
                height: 34px;
                padding: 0 10px;
                z-index: 1;
                transition: all .3s cubic-bezier(.645, .045, .355, 1);
                list-style: none;
                box-shadow: inset 2px 2px 5px $--color-greyLight-2, inset -2px -2px 5px $--color-white;
                border-radius: 6px;
            }
        }

        @include e(content) {
            box-shadow: inset 2px 2px 5px $--color-greyLight-2, inset -2px -2px 5px $--color-white;
        }
    }

    @include m((left, right)) {

        .tu-tabs__header.is-left,
        .tu-tabs__header.is-right,
        .tu-tabs__nav-wrap.is-left,
        .tu-tabs__nav-wrap.is-right,
        .tu-tabs__nav-scroll {
            height: 100%;
        }

        .tu-tabs__nav-wrap.is-left,
        .tu-tabs__nav-wrap.is-right {
            margin-bottom: 0;

            &::after {
                height: 100%;
                bottom: auto;
                width: 1px;
                top: 0;
            }
        }

        .tu-tabs__active-bar.is-left,
        .tu-tabs__active-bar.is-right {
            top: 0;
            bottom: auto;
            width: 2px;
            height: auto;
        }

        .tu-tabs__item.is-left,
        .tu-tabs__item.is-right {
            display: block;
        }

        &.tu-tabs--line {

            .tu-tabs__active-bar.is-left,
            .tu-tabs__active-bar.is-right {
                box-shadow: 2px 2px 3px $--color-greyLight-2,
                    -2px -2px 3px $--color-white,
                    inset 3px 3px 2px $--color-greyLight-2,
                    inset -2px -2px 2px $--color-white;
            }
        }

        &.tu-tabs--card,
        &.tu-tabs--border-card {

            .tu-tabs__active-bar.is-left,
            .tu-tabs__active-bar.is-right {
                width: calc(100% - 6px);
                padding: 0;
                left: 3px;
            }

            .tu-tabs__content {
                height: 100%;
                box-sizing: border-box;
            }
        }
    }

    @include m(left) {
        .tu-tabs__header.is-left {
            float: left;
            margin-bottom: 0;
        }

        .tu-tabs__nav-wrap.is-left {
            margin-right: -1px;

            &::after {
                left: auto;
                right: 2px;
            }
        }

        .tu-tabs__active-bar.is-left {
            right: 1px;
            left: auto;
        }

        .tu-tabs__item.is-left {
            text-align: right;
        }
    }

    @include m(right) {
        .tu-tabs__header.is-right {
            float: right;
            margin-bottom: 0;
        }

        .tu-tabs__nav-wrap.is-right {
            margin-left: -1px;

            &::after {
                left: 0;
                right: auto;
            }
        }

        .tu-tabs__active-bar.is-right {
            left: 0px;
        }
    }
}