.theme-container .page .theme-default-content .demo-block,
.demo-Input.html {
	.demo-input-suffix {
		margin-bottom: 20px;
		font-size: 14px;

		.tu-input {
			width: 40%;
			margin-right: 20px;
		}
	}

	.demo-input-size {
		.tu-input {
			vertical-align: top;
		}
	}
}
