$--color-background: #88a58e !important;
$--color-box-shadow-dark: #68866e;
$--color-box-shadow-light: #94bb9d;
$--color-text-primary: #e3ffe8;
$--color-text-placeholder: #b8ddbe;
$--color-text-disabled: #a9ddb2;
