@import "../../../style/common/variable.scss";

@mixin button-filled($color-light, $color-normal, $color-dark) {
    transition: 0.1s ease;
    background: $color-normal;
    box-shadow: inset 2px 2px 10px $color-light,
        inset -2px -2px 10px $color-dark,
        3px 3px 6px $--color-greyLight-2,
        -2px -2px 5px $--color-white;
    color: $--color-greyLight-1;

    &:hover {
        color: $--color-white;
    }

    &:active {
        box-shadow: inset 2px 2px 10px $color-dark, inset -2px -2px 10px $color-light;
    }
}

.tu-button {
    display: inline-block;
    cursor: pointer;
    box-shadow: 3px 3px 6px $--color-greyLight-2, -2px -2px 5px $--color-white;
    cursor: pointer;
    transition: $--all-transition;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 6px;
    border: none;

    &--default {
        color: $--color-greyDark;

        &:hover {
            color: $--color-primary;
        }

        &:active {
            box-shadow: inset 2px 2px 5px $--color-greyLight-2, inset -2px -2px 5px $--color-white;
        }
    }

    &--primary {
        @include button-filled($--color-primary-light, $--color-primary, $--color-primary-dark)
    }

    &--success {
        @include button-filled($--color-success-light, $--color-success, $--color-success-dark)
    }

    &--info {
        @include button-filled($--color-info-light, $--color-info, $--color-info-dark)
    }

    &--warning {
        @include button-filled($--color-warning-light, $--color-warning, $--color-warning-dark)
    }

    &--danger {
        @include button-filled($--color-danger-light, $--color-danger, $--color-danger-dark)
    }
}