$--color-background: #282c34 !important;
$--color-primary: #9a5dfc;
$--color-primary-light: #b78aff;
$--color-primary-dark: #770ccf;
$--color-box-shadow-dark: #0c0d0f;
$--color-box-shadow-light: #5a5a5a;
$--color-text-primary: #d8d8d8;
$--color-text-placeholder: #555555;
$--color-text-disabled: #818181;
$--color-hover-background: rgba(0, 0, 0, 0.18);
$--color-scrollbar-color: rgba(0, 0, 0, 0.38);
$--color-scrollbar-color-hover: rgba(0, 0, 0, 0.28);
