@import "~@packages/style/common/mixin.scss";
@import "~@packages/style/common/utils.scss";

@mixin menu-item {
	height: 56px;
	line-height: 56px;
	font-size: $--menu-item-font-size;
	color: $--menu-item-font-color;
	padding: 0 20px;
	list-style: none;
	cursor: pointer;
	position: relative;
	transition: border-color 0.3s, background-color 0.3s, color 0.3s;
	box-sizing: border-box;
	white-space: nowrap;

	* {
		vertical-align: middle;
	}

	i {
		color: $--color-text-secondary;
	}

	&:hover,
	&:focus {
		outline: none;
		color: $--color-primary;
	}

	@include when(disabled) {
		opacity: 0.48;
		cursor: not-allowed;
		background: none !important;
	}
}

@include b(menu) {
	border-right: solid 1px $--border-color-base;
	list-style: none;
	position: relative;
	margin: 0;
	padding-left: 0;
	@include utils-clearfix;
	&.tu-menu--horizontal {
		border-bottom: solid 1px $--border-color-base;
	}

	@include m(horizontal) {
		border-right: none;
		& > .tu-menu-item {
			float: left;
			height: 46px;
			line-height: 46px;
			margin: 0;
			border-bottom: 2px solid transparent;
			color: $--color-text-primary;

			a,
			a:hover {
				color: inherit;
			}

			&:not(.is-disabled):hover,
			&:not(.is-disabled):focus {
				color: $--color-primary;
			}
		}
		& > .tu-submenu {
			float: left;

			&:focus,
			&:hover {
				outline: none;
				.tu-submenu__title {
					color: $--color-primary;
				}
			}

			&.is-active {
				.tu-submenu__title {
					border-bottom: 2px solid $--color-primary;
					color: $--color-primary;
				}
			}

			& .tu-submenu__title {
				height: 46px;
				line-height: 46px;
				border-bottom: 2px solid transparent;
				color: $--color-text-primary;

				&:hover {
					color: $--color-primary;
				}
			}
			& .tu-submenu__icon-arrow {
				position: static;
				vertical-align: middle;
				margin-left: 8px;
				margin-top: -3px;
			}
		}
		& .tu-menu {
			& .tu-menu-item,
			& .tu-submenu__title {
				float: none;
				height: 36px;
				line-height: 36px;
				padding: 0 10px;
				color: $--color-text-primary;
			}
			& .tu-menu-item.is-active,
			& .tu-submenu.is-active > .tu-submenu__title {
				color: $--color-primary;
			}
		}
		& .tu-menu-item:not(.is-disabled):hover,
		& .tu-menu-item:not(.is-disabled):focus {
			outline: none;
			color: $--color-primary;
		}
		& > .tu-menu-item.is-active {
			border-bottom: 2px solid $--color-primary;
			color: $--color-primary;
		}
	}
	@include m(collapse) {
		width: 64px;

		> .tu-menu-item,
		> .tu-submenu > .tu-submenu__title {
			[class^="tu-icon-"] {
				margin: 0;
				vertical-align: middle;
				width: 24px;
				text-align: center;
			}
			.tu-submenu__icon-arrow {
				display: none;
			}
			span {
				height: 0;
				width: 0;
				overflow: hidden;
				visibility: hidden;
				display: inline-block;
			}
		}

		> .tu-menu-item.is-active i {
			color: inherit;
		}

		.tu-menu .tu-submenu {
			min-width: 200px;
		}

		.tu-submenu {
			position: relative;
			& .tu-menu {
				position: absolute;
				margin-left: 5px;
				top: 0;
				left: 100%;
				z-index: 10;
				border: 1px solid $--border-color-light;
				border-radius: $--border-radius-small;
				box-shadow: $--box-shadow-light;
			}

			&.is-opened {
				> .tu-submenu__title .tu-submenu__icon-arrow {
					transform: none;
				}
			}
		}
	}
	@include m(popup) {
		z-index: 100;
		min-width: 200px;
		border: none;
		padding: 5px 0;
		border-radius: $--border-radius-small;
		box-shadow: $--box-shadow-light;

		&-bottom-start {
			margin-top: 5px;
		}
		&-right-start {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}
@include b(menu-item) {
	@include menu-item;

	& [class^="tu-icon-"] {
		margin-right: 5px;
		width: 24px;
		text-align: center;
		font-size: 18px;
		vertical-align: middle;
	}
	@include when(active) {
		color: $--color-primary;
		i {
			color: inherit;
		}
	}
}

@include b(submenu) {
	list-style: none;
	margin: 0;
	padding-left: 0;

	@include e(title) {
		@include menu-item;

		&:hover {
			color: $--color-primary;
		}
	}
	& .tu-menu {
		border: none;
	}
	& .tu-menu-item {
		height: 50px;
		line-height: 50px;
		padding: 0 45px;
		min-width: 200px;
	}
	@include e(icon-arrow) {
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -7px;
		transition: transform 0.3s;
		font-size: 12px;
	}
	@include when(active) {
		.tu-submenu__title {
			border-bottom-color: $--color-primary;
		}
	}
	@include when(opened) {
		> .tu-submenu__title .tu-submenu__icon-arrow {
			transform: rotateZ(180deg);
		}
	}
	@include when(disabled) {
		.tu-submenu__title,
		.tu-menu-item {
			opacity: 0.25;
			color: $--color-text-secondary;
			cursor: not-allowed;
			background: none !important;
		}
	}
	[class^="tu-icon-"] {
		vertical-align: middle;
		margin-right: 5px;
		width: 24px;
		text-align: center;
		font-size: 18px;
	}
}

@include b(menu-item-group) {
	> ul {
		padding: 0;
	}
	@include e(title) {
		padding: 7px 0 7px 20px;
		line-height: normal;
		font-size: 12px;
		color: $--color-text-secondary;
	}
}

.horizontal-collapse-transition .tu-submenu__title .tu-submenu__icon-arrow {
	transition: 0.2s;
	opacity: 0;
}
